{% extends "base.html" %}

{% block content %}

<div class="card shadow">

    <div class="card-header bg-success text-white">

        <h4>

            Atendimento

        </h4>

    </div>

    <div class="card-body">

        <div class="row mb-3">

            <div class="col-md-6">

                <label><b>Cliente</b></label>

                <input class="form-control"
                       value="{{ agenda.cliente.nome }}"
                       readonly>

            </div>

            <div class="col-md-2">

                <label><b>Data</b></label>

                <input class="form-control"
                       value="{{ agenda.data|date:'d/m/Y' }}"
                       readonly>

            </div>

            <div class="col-md-2">

                <label><b>Hora</b></label>

                <input class="form-control"
                       value="{{ agenda.hora_inicio }}"
                       readonly>

            </div>

            <div class="col-md-2">

                <label><b>Valor</b></label>

                <input class="form-control"
                       value="R$ {{ agenda.valor }}"
                       readonly>

            </div>

        </div>

        <form method="post">

            {% csrf_token %}

            <div class="row">

                <div class="col-md-6 mb-3">

                    <label>Queixa Principal</label>

                    {{ form.queixa }}

                </div>

                <div class="col-md-6 mb-3">

                    <label>Anamnese</label>

                    {{ form.anamnese }}

                </div>

            </div>

            <div class="row">

                <div class="col-md-6 mb-3">

                    <label>Evolução</label>

                    {{ form.evolucao }}

                </div>

                <div class="col-md-6 mb-3">

                    <label>Procedimentos</label>

                    {{ form.procedimentos }}

                </div>

            </div>

            <div class="mb-3">

                <label>Conduta</label>

                {{ form.conduta }}

            </div>

            <div class="mb-3">

                <label>Observações</label>

                {{ form.observacoes }}

            </div>

            <hr>

            <button class="btn btn-success">

                <i class="bi bi-check-circle"></i>

                Finalizar Atendimento

            </button>

            <a href="{% url 'agenda' %}"
               class="btn btn-secondary">

                Cancelar

            </a>

        </form>

    </div>

</div>

{% endblock %}